/* Color Used

Blue - #3C4AAE
medium light blue - #5765C5
lightblue - #B0AFE3
White
Peach - #EEA47F
*/

#wavyImage{
    width: 100%;
    height: 83vh;
    background: url(../svg/layered-waves-haikei.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
#wavyImg{
    width: 100%;
    height: auto;
} 
#sentence{
    color: white;
    border: none;
    background-color: transparent;
    font-family: 'Poiret One';
}
#sentence h1{
    font-size: 4em;
    font-weight: 1000;
    padding-top: 30vh;
}
#sentence.container{
    margin-left: 0;
    padding-left: 100px;
}

#sentence button{
    font-family: 'Moderne Sans';
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
}
#sentence button:hover{
    background-color: white;
    color: #3C4AAE;
}
#sentence img{
    border-radius: 10%;
    margin-top: 20px
}

/* Content */
#aboutme{
    font-family: 'Dosis';
    background:url(../svg/circle-scatter-haikei1.svg);
    background-size: cover;
    background-position: center;
    padding: 0px 100px 50px;
}
.btn-outline-primary{
    border-color: #3C4AAE;
    color: #3C4AAE;
    transition: 0.1s ease-in-out;
}
.btn-outline-primary:hover{
    background-color: #3C4AAE;
    border-color: #3C4AAE;
}
.card-header-primary{
    background-color: #EEA47F;
    border-radius:5px 5px 0 0;
    padding: 20px 10px 10px 10px;
    color: white;
    font-family: 'Fajala';
}
#Personal{
    margin: 0;
    background-color: #5765C5;
    font-family: 'Dosis';
}
#Personal .container{
    color: white;
    max-width: 1250px;
    padding: 5vh;
}
#Personal h2{
    font-family: 'Fajala';
}
#Personal .row{
    margin-bottom: 10px;
}
#progBar{
    background-color: #EEA47F;
    color: black;
}
.progress{
    font-family: 'Poinet One';
    height: 50%;
}