/* Color Used

Blue - #00164d
medium light blue - #5765C5
lightblue - #B0AFE3
White
Peach - #EEA47F
*/
@import url(../../Utils/fonts/fonts.css);
.pt-6{
    padding-top: 6em !important;
}
#Homepage{
    position: absolute;
    top: 0;
}
#wavyImage{
    width: 100%;
    height: 100vh;
    background: url(../../Utils/svg/layered-waves-haikei-svg-with-bg.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    padding-top: 15vh;
    margin: 0;
}
#wavyImg{
    width: 100%;
    height: auto;
} 
#sentence{
    color: white;
    border: none;
    background-color: transparent;
    font-family: 'Poiret One';
}
#sentence h1{
    font-size: 4em;
    font-weight: 1000;
    padding-top: 30vh;
}
#sentence.container{
    margin-left: 0;
    padding-left: 100px;
}

#sentence button{
    font-family: 'Moderne Sans';
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
}
#sentence button:hover{
    background-color: white;
    color: #00164d;
}
#circular{
    background-color: white;
    border-radius: 100%;
    height: 320px;
    width: 320px;
    padding: 10px;
}
#profile{
    background-image: url(../../Utils/img/Profile.jpg);
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
.btn-outline-primary{
    border-color: #5765C5;
    color: #5765C5;
    transition: 0.1s ease-in-out;
}
.btn-outline-primary:hover{
    background-color: #5765C5;
    border-color: #5765C5;
}

/* Content */
#aboutme .container{
    max-width: fit-content;
    margin: 5vh 10vh;
    text-align: justify;
}
#abtHeader{
    margin-bottom: 5vh;
}

#expert .container-fluid{
    background-color: #00164d;
    padding: 3em 5em;
}
#expert h2{
    font-weight: bold;
    color: white;
    font-family: 'Fajala';
}