@import url(../fonts/fonts.css);
#navbar{
    padding-right: 100px;
    padding-top: 30px;
}
#logo{
    margin-left: 40px;
}
.navbar{
    background-color: #3C4AAE;
}
#navLink{
    font-family: 'Moderne Sans';
    margin: 0 5px;
    color: white;
    transition: 0.3s ease-in-out;
}
.active ,#navLink:hover{
    color: #b3bbff;
}